In [73]:
import pandas as pd
import os
current_path = os.path.join(os.getcwd(), 'samples.xlsx')

In [74]:
csv = pd.read_excel(current_path)
csv.head()

   newspaper1  newspaper2  magazine  pack
0          13          53       103     5
1          45          17        30    16
2          22          38        53    14
3          18          33       121    11
4          36           9        26    14

In [75]:
csv.describe()

        newspaper1   newspaper2     magazine         pack
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     22.519000    33.281000    45.854000    11.342000
std      11.778726    17.473104    25.767511     5.652343
min       5.000000     7.000000    10.000000     2.000000
25%      14.000000    21.000000    28.000000     7.000000
50%      20.000000    30.000000    40.000000    10.000000
75%      27.000000    41.000000    57.000000    14.000000
max      92.000000   175.000000   237.000000    42.000000

In [76]:
demanda_media = csv.mean()
print(demanda_media)

newspaper1    22.519
newspaper2    33.281
magazine      45.854
pack          11.342
dtype: float64

## Constantes:

desconto_pacote : 8% = 0.08

In [77]:
desconto_pacote = 0.08

## Variáveis de decisão:

compra_j1 : Quantidade de jornal 1 comprada.

compra_j2 : Quantidade de jornal 2 comprada.

compra_magazine : Quantidade de revistas compradas.

venda_j1 : Quantidade de jornal 1 vendido.

venda_j2 : Quantidade de jornal 2 vendido.

venda_magazine : Quantidade de revistas vendidas.

venda_pacote : Quantidade de pacotes vendidos.

In [78]:
from gurobipy import Model, GRB

model = Model("modelo")

compra_j1 = model.addVar(vtype=GRB.INTEGER)
compra_j2 = model.addVar(vtype=GRB.INTEGER)
compra_magazine = model.addVar(vtype=GRB.INTEGER)

venda_j1 = model.addVar(vtype=GRB.INTEGER)
venda_j2 = model.addVar(vtype=GRB.INTEGER)
venda_magazine = model.addVar(vtype=GRB.INTEGER)
venda_pacote = model.addVar(vtype=GRB.INTEGER)

retorno_j1 = model.addVar(vtype=GRB.INTEGER)
retorno_j2 = model.addVar(vtype=GRB.INTEGER)

model.write("model.lp")

## Restrições:

#### Demanda probabilistica
venda_j1 + retorno_j1 <= demanda_media['newspaper1']

venda_j2 + retorno_j2 <= demanda_media['newspaper2']

venda_magazine + venda_pacote <= demanda_media['magazine']

In [80]:
model.addConstr(venda_j1 + retorno_j1 <= demanda_media['newspaper1'])
model.addConstr(venda_j2 + retorno_j2 <= demanda_media['newspaper2'])
model.addConstr(venda_magazine + venda_pacote <= demanda_media['magazine'])

model.write("model.lp")