In [9]:
import pandas as pd
import os
current_path = os.path.join(os.getcwd(), 'samples.xlsx')

In [11]:
csv = pd.read_excel(current_path)
csv.head()

   newspaper1  newspaper2  magazine  pack
0          13          53       103     5
1          45          17        30    16
2          22          38        53    14
3          18          33       121    11
4          36           9        26    14